.admin-page_navbar {
    width: 100%;
    display: flex;
    padding: 1rem;
    align-items: center;
    background-color: var(--color-orange);
    
    a {
        font-family: var(--font-open);
        text-decoration: none;
        color: #fff;
    }
    
    &_brand {
        margin-right: 2rem;
        font-size: 1.5rem;
        font-weight: bold;
    }

    &_items {
        list-style: none;
        display: flex;

        li {
            margin: 0 1rem;

            a {
                svg {
                    margin-right: .5rem;
                }
            }
        }
    }
}