.admin-page_products_items {
    h1 {
        text-transform: capitalize;
        color: var(--color-light);
        display: inline-block;
        margin-right: 1rem;
    }
    
    h2 {
        font-family: var(--font-open);
        margin-top: 3rem;
        color: var(--color-orange);
    }

    &_add-button {
        cursor: pointer;
        padding: .5rem 1rem;
        background-color: var(--color-light);
        color: #fff;
        outline: none;
        border: none;
        font-family: var(--font-open);
        font-size: 1.1rem;
        font-weight: 600;
        border-radius: 20px;
        transition: box-shadow .3s;
    }

    .active {
        box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.432);
    }
}