:root {
  --font-open: 'Open Sans', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
  --font-regular:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-roboto: 'Roboto', sans-serif;

  --color-orange: #FF6900;
  --color-light: #F2A736;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  height: 400vh;
}