.main-page_product {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    .wrapper {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    &_image-wrapper {

        img {
            width: 100%;
        }
    }

    &_title {
        font-family: var(--font-open);
        opacity: .9;
        font-size: 1.2rem;
        margin: 1rem 0;
        font-weight: 600;
    }

    &_description {
        font-family: var(--font-roboto);
        opacity: .6;
        margin-bottom: 1rem;
        overflow: hidden;
        flex-grow: 1;
    }

    &_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_price {
            font-family: var(--font-roboto);
            font-weight: bold;
            font-size: 1.3rem;
            color: rgba(0, 0, 0, 0.76);
        }

        &_button {
            padding: .5rem 1rem;
            background-color: var(--color-orange);
            color: #fff;
            border-radius: 5px;
            font-family: var(--font-roboto);
            cursor: pointer;

            &:active {
                opacity: .8;
            }
        }
    }
}