.main-page_product {
    display: flex;
    flex-direction: column;
    margin: 1em 0;

    .wrapper {
        display: flex;
        flex-basis: 240px;
        flex-direction: column;
        overflow-y: auto;
        
        @media screen and (max-width: 768px){
            flex-basis: 200px;
        }

        @media screen and (max-width:500px) {
            flex-basis: 150px;
        }
    }

    &_image-wrapper {

        img {
            width: 100%;
        }
    }

    &_title {
        font-family: var(--font-open);
        opacity: .9;
        font-size: 1.2em;
        margin: 1em 0;
        font-weight: 600;
    }

    &_description {
        font-family: var(--font-roboto);
        opacity: .6;
        margin-bottom: 1em;
        overflow: hidden;
        flex-grow: 1;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--color-orange);
            border-radius: 50px;
        }
    }

    &_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_price {
            font-family: var(--font-roboto);
            font-weight: bold;
            font-size: 1.3em;
            color: rgba(0, 0, 0, 0.76);
        }

        &_button {
            padding: .5em .5em;
            background-color: var(--color-orange);
            color: #fff;
            border-radius: 5px;
            font-family: var(--font-roboto);
            cursor: pointer;

            &:active {
                opacity: .8;
            }
        }
    }

    @media screen and (max-width: 420px) {
        font-size: 12px;
    }

}