.main-page_header {
    width: 100%;
    
    .wrapper {
        width: 960px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;

        a {
            margin-right: 2em;
            display: flex;
            align-items: center; 
            text-decoration: none;
            color: rgba(0, 0, 0, 0.644);
            font-weight: bold;
            font-family: var(--font-open);
            font-size: 1.5em;

            img {
                margin-right: 1em;
                width: 3rem;
                height: 3rem;
            }
        }

        .promotion {
            font-family: var(--font-poppins);
            font-weight: 600;
            color: rgba(0, 0, 0, 0.726);

            span {
                opacity: .7;
            }
        }
    }
}

.main-page_navbar {
    padding: .5rem;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    font-family: var(--font-open);
    background-color: #fff;

    .wrapper {
        width: 960px;
        margin: 0 auto;
        overflow: hidden;

        ul {
            transition: transform .4s;
            transform: translateX(-4em);
            list-style-type: none;
            display: flex;
            align-items: center;

            .logo {
                img {
                    width: 3rem;
                    height: 3rem;
                }
            }

            li {
                cursor: pointer;
                color: rgba(0, 0, 0, 0.562);
                font-weight: 600;
                margin: 0 1rem;
            }
        }

        .show-logo {
            transform: translateX(0);
        }
    }
}